@font-face {
    font-family: 'ClashGrotesk-Extralight';
    src: url('/fonts/ClashGrotesk-Extralight.woff') format("woff")
}
@font-face {
    font-family: 'ClashGrotesk-Light';
    src: url('/fonts/ClashGrotesk-Light.woff') format("woff")
}
@font-face {
    font-family: 'ClashGrotesk-Regular';
    src: url('/fonts/ClashGrotesk-Regular.woff') format("woff")
}
@font-face {
    font-family: 'ClashGrotesk-Medium';
    src: url('/fonts/ClashGrotesk-Medium.woff') format("woff")
}
@font-face {
    font-family: 'ClashGrotesk-Semibold';
    src: url('/fonts/ClashGrotesk-Semibold.woff') format("woff")
}
@font-face {
    font-family: 'ClashGrotesk-Bold';
    src: url('/fonts/ClashGrotesk-Bold.woff') format("woff")
}